<style>.thumbnail {
    background-color: #f2f2f2;
}

.container {
    padding: 50px;
    margin-top: 50px;
    margin-right: 10%;
    margin-left: 10%;
    float: left;
    width: 80%;
    background-color: #e6e6e6;
}

ul {
    margin-left: 5%;
}

.img {
    height: 500px;
}

.indent {
    margin-left: 5%;
}

</style>
